@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}


@font-face {
	/* Reference name */
	font-family: 'Rust';
	/* For multiple files use commas, ex: url(), url(), ... */
}

:root [data-theme='wintry'] {
	--theme-rounded-base: 3px;
	--theme-rounded-container: 4px;
}



							